.col-12 {
  @extend %flex-center;
  flex-direction: column;
}

label {
  font-size: 20px;
  color: $purple;
}

.form-select {
  width: 50%;
}

.crest {
  max-width: 30px;
  width: calc(2rem + 6vw);
  margin-right: 15px;
}