.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  font-family: 'Rubik', sans-serif;
  color: $purple;
}

main {
  flex-grow: 1;
  padding: 2em 0;
  @extend %flex-center;
  h1 {
    img {
      max-width: 80px;
      width: calc(2rem + 6vw);
    }
  }
}

.flex-center {
  @extend %flex-center;
  flex-direction: column;
}

.spinner {
  img {
    width: 30px;
  }
}

footer {
  background-color: $purple;
  color: $white
}