.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  font-family: 'Rubik', sans-serif;
}

main {
  flex-grow: 1;
  padding: 2em 0;
  @extend %flex-center;
  h1 {
    color: $purple;
    img {
      max-width: 120px;
      width: calc(2rem + 6vw);
    }
  }
}

.spinner {
  img {
    width: 30px;
  }
}